.tableContainer {
  padding: 20px 70px 0 35px;
  .tableWrapper {
    .createRow {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .createRowSec {
        background: #4f4f4f;
        border-radius: 4px;
        display: flex;
        align-items: center;
        text-decoration: none;
        cursor: pointer;
        padding: 10px;
        .createSimulation {
          font-style: normal;
          font-weight: 700;
          font-size: 14.1636px;
          line-height: 17px;
          color: #ffffff;
          padding-left: 5px;
        }
      }
    }
    .tableSectionHeader {
      display: flex;
      padding-top: 20px;
      justify-content: space-between;
      .allSimulatedDrones {
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: -0.01em;
        color: #000000;
      }
      .tableFilterOpt {
        display: flex;
        align-items: center;
        .searchInput {
          display: flex;
          width: 100%;
          background: #f9fbff;
          border-radius: 10px;
          .searchIcon {
            padding: 10px;
            text-align: center;
          }
          .inputField {
            width: 100%;
            padding: 10px;
            outline: none;
            border: none;
          }
        }
      }
      .selectRowDropDown {
        display: flex;
        background: #f9fbff;
        border-radius: 10px;
        label {
          white-space: nowrap;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          letter-spacing: -0.01em;
          color: #7e7e7e;
        }
        select {
          outline: none;
          border: none;
        }
      }
    }
  }
}
